ul{
    list-style-type: none;
    width: 100%;
    border-bottom:1px solid #000;
}
li{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    text-align: center;
}
p{
    font-size: 8px;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 5px;
}