<ul>

    <li>    
        <img src="../../img/img2.jpg">
        <strong>Noticia</strong>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
    </li>


    <li>
        <img src="../../img/img2.jpg">
        <strong>Noticia</strong>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
    </li>


    <li>
        <img src="../../img/img2.jpg">
        <strong>Noticia</strong>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
    </li>


    <li>
        <img src="../../img/img2.jpg">
        <strong>Noticia</strong>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
    </li>

</ul>
