<img src="../../img/img1.jpg" id="fondo">
<ul id="col1">

            <li>
                <img src="../../img/img2.jpg">
                <h1>Encuentran en Perú una misteriosa máscara de hace mil años: fue pintada con sangre humana</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
                <button type="button" class="btn btn-primary">Leer Más</button>
            </li>


            <li>
                <img src="../../img/img2.jpg">
                <h2>Descubren nido con más de 100 huevos de dinosaurios en la patagonia argentina</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
                <button type="button" class="btn btn-primary">Leer Más</button>
            </li>

            <li>
                <img src="../../img/img2.jpg">
                <h3>Cuarto retiro no va la próxima semana: comités no llegan a acuerdo y se dilata trámite en el Senado</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
                <button type="button" class="btn btn-success">Leer Más</button>
            </li>
        </ul>
<ul id="col2">

        <li>    
            <img src="../../img/img2.jpg">
            <strong>Noticia</strong>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
        </li>


        <li>
            <img src="../../img/img2.jpg">
            <strong>Noticia</strong>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
        </li>


        <li>
            <img src="../../img/img2.jpg">
            <strong>Noticia</strong>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
        </li>


        <li>
            <img src="../../img/img2.jpg">
            <strong>Noticia</strong>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat expedita illum, rem hic quia explicabo, libero unde aliquid aspernatur repellendus iste assumenda! Excepturi sequi animi impedit dignissimos maxime ad cumque.</p>
        </li>

    </ul>